#DB
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DSN=host=localhost user=gorm password=gorm dbname=gorm port=9920 sslmode=disable TimeZone=Asia/Bangkok


#Google
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URL=
GOOGLE_AFTER_SIGNIN_REDIRECT=


#Redis
REDIS_ADDRESS=host:port

#Line
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS=

#App
JWT_SECRET=
COOKIE_DOMAIN=

#MQTT
MQTT_QOS=
MQTT_BROKER=
MQTT_TOPIC_PREFIX=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=